{% include 'header.html'}

<body>
    {% include nav.html}
    <div>
        <header> 
            Table de translation
        </header>
        <table class="tablenat" onclick="nat()">
            <tr>
                <th colspan="4"> Table NAT </th>
            </tr>
            <tr>
                <th class="intern" colspan="2"> Internal </th>
                <th class="ext" colspan="2"> External </th>
            </tr>
            <tr>
                <td> IP </td>
                <td> port source</td>
                <td> IP </td>
                <td> Port source </td>
            </tr>
        </table>
    </div>
    {% include footer.html}>
</body> 