{% include 'header.html' %}
<body>
    {% include 'nav.html' %}
    <div>
        <header> 
            Alias
        </header>
        <table class="tablealias" onload="send_request()">
            <tr>
                <th colspan="3"> ?????????????????? </th>
            </tr>
            <tr>
                <td> Nom </td>
                <td> IP </td>
                <td> Port </td>
            </tr>
            <!---<tr>
                <td> Serveur1_SSH </td>
                <td> 10.1.0.10 </td>
                <td> 22 </td>
            </tr>--->
        </table>
    </div>
    
    {% include 'footer.html' %}
</body>