{% include 'header.html' %}
<body>
    {% include 'nav.html' %}
    <div>
        <header> 
            Alias
        </header>
        <table class="tablealias">
            <thead>
                <tr>
                    <th colspan="3"> Liste Alias </th>
                </tr>
                <tr>
                    <td> Nom </td>
                    <td> IP </td>
                    <td> Port </td>
                </tr>
            </thead>
            <tbody>
                {% for row in alias %}
                <tr>
                    <td>{{ row.alias }}</td>
                    <td>{{ row.ip_address }}</td>
                    <td>{{ row.port }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% include 'footer.html' %}
</body>