{% include 'header.html' %}
<body>
    {% include 'nav.html' %}
    <div class="infosys" onclick="info()">
        <header> 
            <h1> Firewall linux netfilter & IPtable </h1> 
        </header>
            
        <p><strong> Nom de l'appareil: </strong> LAPTOP-OVO837ECG. </p>
        <p><strong> Processeur: </strong>AMD Ryzen 5 3500U with Radeon Vega Mobile Gfx 2.10 GHz. </p>
        <p><strong> Mémoire RAM installée: </strong> 8,00 Go. </p>
        <p><strong> ID du périphérique: </strong> .............. . </p>
        <p><strong> ID du produit: </strong> .............. . </p>
        <p><strong> Type du sytème: </strong> Systèmes d'exploitation 64bits , processeur x64. </p>
    </div>
    {% include 'footer.html' %}
</body>